<!doctype html>
<html lang="en" ng-app="app">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="js/controllers.js"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>TudoBom lanches</title>
  </head>
  <body ng-app="tudobomlanches" >
    <div class="container" ng-controller="ProdutosController as vm">
      <div class="row">
          <div class="col" >
              <h1>{{testes.nome}}</h1>
          </div>
      </div>
      <div class="container">
          <div class="row">
              <div class="col-sm">
                   Produto
              </div>
              <div class="col-sm">
                   Valor Unitário
              </div>
              <div class="col-sm">
                  Quantidade
              </div>
              <div class="col-sm">
                  Valor total
              </div>
              <div class="col-sm">
                Valor promocial
            </div>
          </div>
      </div>
      <div class="container">
          <div class="row" ng-repeat="produto in vm.produtos.java">
              <div class="col-sm">
                <p class="text-center">{{produto.nome}}</p>
              </div>
              <div class="col-sm">
                <p class="text-center">{{produto.valor | currency}}</p>
              </div>
              <div class="col-sm">
                  <div class="form-group">
                      <input type="number" class="form-control" id="qtdProduto" aria-describedby="qtdProduto" placeholder="Enter qtd" ng-model="produto.quantidade" ng-change="calculaValorTotalProduto($index, produto.quantidade, produto.valor)">
                  </div>
              </div>
              <div class="col-sm">
                <p class="text-center">{{produto.total | currency}}</p>
                    
              </div>
              <div class="col-sm">
                <p class="text-center">{{produto.valorPromocional | currency}}
                <small id="promoção" ng-show="produto.valorPromocional" class="form-text text-muted">promoção</small></p>
          </div>
          </div>
      </div>

      <div class="container">
        <div class="alert alert-primary" role="alert">
            <p class="text-center">O valor total do seu pedido é: {{valorPedido | currency}}</p>
        </div>
      </div>
    </div>
  

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>