<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h5>
                    <p class="text-center">Produto</p>
                </h5>
            </div>
            <div class="col-sm">
                <h5>
                    <p class="text-center">Valor Unitário</p>
                </h5>
            </div>
            <div class="col-sm">
                <h5>
                    <p class="text-center">Quantidade</p>
                </h5>
            </div>
            <div class="col-sm">
                <h5>
                    <p class="text-center">Valor total</p>
                </h5>
            </div>
            <div class="col-sm">
                <h5>
                    <p class="text-center">Valor promocional</p>
                </h5>
            </div>
        </div>
    </div>
    <div class="container" ng-controller="LanchesController as vm">
        <div class="row" ng-repeat="lanche in lanches.java">
            <div class="col-sm">
                <p class="text-center">{{lanche.nome}}</p>
            </div>
            <div class="col-sm">
                <p class="text-center">{{lanche.valor | currency}}</p>
            </div>
            <div class="col-sm">
                <div class="form-group">
                    <div class="row" align="center">
                        <input type="number"  min="0" class="form-control" id="qtdProduto" aria-describedby="qtdProduto" placeholder="Quantidade" ng-model="lanche.quantidade" ng-change="calculaValorTotallanche($index, lanche.quantidade, lanche.valor)">
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <p class="text-center">{{lanche.total | currency}}</p>
            </div>
            <div class="col-sm">
                <p class="text-center">{{lanche.valorPromocional | currency}}
                <small id="promoção" ng-show="lanche.valorPromocional" class="form-text text-muted">promoção</small></p>
            </div>
        </div>
    </div>
</div>
